$darkPurple: #422438;
$lightYellow: #FFF2D0;
$yellow : #FAC751;
$lightYellowHover : #FFE3C5;
$basicWhite : #FFF6EC;
$lightOrange : #FEA87E;
$paleOrange : #FFF2D0;
$red : #A23842;
$darkBlue : #011F42;
$lightBlue : #B3DDF0;
$white: #ffffff;
$purple: #422438;
$brown: #6A2837;

$primary: #0e3ad7;
$secondary: #51A492;
$dark: #001a33;
$grey: #506172;
$primary-hover: darken($primary, 10%);
$muted: #999999;
$muted-hover: darken($muted, 10%);
$border: #CCCCCC;
$disabled: #f2f4f7;
$lightGrey: #d8dfe9;
